<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
      .box {
        border: 1px solid red;
        padding: 2rem;
      }
      .mouseEvent {
        display: flex;
        flex-direction: column;
        align-items: stretch;
      }
      .myDynamicClass {
        background-color: pink;
      }
      .staticClass {
        background-color: aqua;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 1rem 2rem;
      }
      .specialClass {
        background-color: rgb(172, 179, 238);
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h2>The user is {{firstName}} {{lastName}} - lucky number: {{age}}</h2>
      <button @click="decreaseNumber">DECREASE</button
      ><!--  shorthand -->
      <button
        v-on:click="increaseNumber"
        class="static_class"
        :class="{myDynamicClass: isOlder}"
      >
        INCREASE
      </button>
      <section>
        <div v-if="isOlder">Number bigger than 35!!!</div>
        <div v-else>Number is smaller than 35</div>
      </section>
      <div v-show="!isOlder">
        This div will be in the DOM always!!! vue is going to add display:none
      </div>
      <br />
      <section class="mouseEvent">
        <h2 :class="{myDynamicClass: isOlder}">{{mouseEventHeader}}</h2>
        <div class="box" @mouseover="handleEvent">{{box1Text}}</div>
        <div class="box" @mouseleave="handleEvent">{{box2Text}}</div>
        <div class="box" @dblclick="handleEvent">{{box3Text}}</div>
        <div class="box" @mousemove="handleMouseMove">Mouse move</div>
      </section>
      <button
        @click="handleToggle"
        class="staticClass"
        :class="{specialClass:isToggled}"
      >
        TOGGLE ME
      </button>
      <br />
      <h2>COMPUTED PROPERTIES</h2>
      <h3>PRODUCT DEVS</h3>
      <ul>
        <li v-for="person in productDevs">
          <p>{{person.name}}</p>
        </li>
      </ul>
    </div>
    <script src="app.js"></script>
  </body>
</html>
